<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadata">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Kanlex.Service.Services.AuthenticationService" behaviorConfiguration="metadata">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000"/>
            <add baseAddress="net.tcp://localhost:9000" />
          </baseAddresses>
        </host>
        <endpoint binding="netTcpBinding"
                  contract="Kanlex.Service.Contracts.IAuthenticationService" />
        <endpoint  address="mex"
                   binding="mexHttpBinding"
                   contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>


</configuration>
